RESEND_API_KEY=
EMAIL_FROM="Quilliam's Mowing <levi@quilliamsmowing.co.uk>"
EMAIL_ADMIN_TO=levi@quilliamsmowing.co.uk
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-0W4NCH9D70
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_UI_HOST=https://eu.posthog.com
